{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<h1 style="text-align:center">高频词列表</h1>
<table class="table" style="width:20em;margin:0 auto">

    <thead>
    <tr>
        <th>词汇</th>
        <th>频次</th>
    </tr>
    </thead>
    <tbody>
    {% for a,b in dict %}
    <tr>
        <td><span>{{ a }}</span></td>
        <td><span>{{ b }}</span></td>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}